/* INDEX HTML */

#center {
    width:70%;
    text-align: center;
    margin: 0 auto;
}
body {
    background-color: rgb(228 , 228 , 228);
    font-family: 'Rockwell';
}
header {
    background-color: rgb(10, 111, 190);
    padding:5px ;
    font-size:21px;
    height:70px;
}
header img {
    height: 50px;
    padding:10px 0px 0px 0px;
}
header a {
    text-decoration: none;
    color:rgb(228 , 228 , 228);
    display: block;
    height: 100%;
}
footer {
    clear:both;
    background-color: rgb(10, 111, 190);
    color:rgb(228 , 228 , 228);
    padding:2px 0;
}
footer p {
    text-align: left;
    font-size:16px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
}
li {
    display: inline-block;
    padding:0 4px;
}
.lista_polozaj {
    position: relative;
    bottom: 15px;
}
main {
    margin-top:20px;
    clear:both;
    padding:20px 0;
}
#welcome {
    float:left;
}
#datum {
    float:right;
    margin-right: 32px;
    opacity: 0.4;
    font-size:20px;
}
.section_index {
    text-align: left;
}
.section_index h2 {
    width:100%;
    float:left;
    text-align:left;
}
.section_index article {
    width:33%;
    float:left;
}
.section_index article img,
.section_index h3,
.section_index p {
    width:96%;
    max-width: 600px;
    height:auto;
}
.section_index article h3 {
    font-size:23px;
}
.section_index article p {
    font-size:19px;
    position: relative;
    bottom:12px;
}
.section_index a {
    text-decoration: none;
    color:black;
}

/* VIJESTI */

#section_vijesti img {
    width:100%;
    max-height: 700px;
    padding:30px 0;
    display:block;
}

/* UNOS VIJESTI */

textarea {
    resize: none;
}
label{
    font-size: 18px;
}
.kategorija {
    font-size: 16px;
}
#arhiva {
    height: 20px;
    width: 20px;
}
#reset_submit {
    height: 25px;
    width: 80px;
}

/* SKRIPTA */

#skripta {
    width:70%;
    margin:0 auto;
    text-align: left;
}
#skripta img {
    width:100%;
}
